{% extends "base.html" %}
{% block title %}
takabe
{% endblock title %}

{% block body %}
<h3><a href="{{ url }}">{{ url }}</a></h3>
<br><br>
<div class="text-left">
	<form method="GET" action="new">
		<label for="token">
			Token: <input name="token" type="password" required></input>
		</label>
		<br><br>
		<label for="url">
			URL: <input name="url" type="url" required></input>
		</label>
		<br><br>
		<label for="shortened">
			Alias: <input name="shortened" type="text"></input>
		</label>
		<br><br>
		<button type="submit">Shorten</button>
	</form>
</div>
{% endblock body %}
